
# Front end allowed env variables
VITE_BASE_URL=

# Only back end allowed env variables
DATABASE_URL=
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_AUTHORIZED_EMAIL=
BETTER_AUTH_URL=

# So Vercel is aware it must uses Corepack
ENABLE_EXPERIMENTAL_COREPACK=